@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Playball&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    min-height: 200vh;
}

header{
    font-family: 'Oswald';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0);
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 1px 70px;
    z-index: 1000000;
    animation: zoom 30s infinite;
    border-radius: 0 0 20px 20px;
    
}
header.sticky{
    padding: 0px 70px;
    background: rgb(194, 196, 204);
}
header .logo{
    position: relative;
    font-weight: 700;
    color: #fff;
    transition: 0.6s;
    width: 100px;
}   

header ul{
    position: relative;
    display: flex;
    justify-content: center;
    list-style: none;
}
header ul li{
    position: relative;
    list-style: none;
}
header ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
    font-size: 2em;
    margin-inline: 50px;
}
header li a::before{
    content: '';
    position: absolute;
    top: 110%;
    left:0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: 0.3s;
}

header li a:hover::before{
    width: 100%;
}

header.sticky li a:hover::before{
    width: 100%;
    background: #000;
}

.tag{
    position: relative;
    width: 100%;
    height: 70vh;
    background: url(Images/pexels-linh-ngo-98931791-10179062.jpg);
    background-size: cover;
    animation: zoom 200s infinite;
    align-content: center;
    font-size: 4em;
}

@keyframes zoom {
    0%{
        background-size: 100% 100%;
        background-position: center;
    }
    50%{
        background-position: center;
        background-size: 150% 150%;
    }
    100%{
        background-position: center;
        background-size: 100% 100%;
    }
}

section h1{
    text-align: center;
    color: rgb(255, 255, 255);
    font-family:'Allison';
    font-size: 3em;
 
}
header.sticky .tag,
header.sticky ul li a{
    color: #000;
}
.content h1{
    margin-top: 50px;
}

.left hr {
    height: 0.2px;
    background-color: rgb(6, 6, 6);
}
.content hr{
    height: 4px;
    background-color: rgb(6, 6, 6);
}
div .main{
    border: solid 1px;
}
a{
    text-decoration: none;
}
.left{
    float:left;
    width: 20%;
    margin:25px 40px;
    position: sticky;
    top: 150px;
    height: 100dvh;
    min-width: 250px;
}   
.left div{
    text-decoration: none;
    color: rgba(8, 49, 181, 0.832);
    margin: 30px 0px;
    font-weight: 10;
}
.left div:hover a{
    text-decoration: underline;
    height: 10px
}
.content{
    align-items:flex-start;
    display: flow-root;
}
.content p{
    margin: 40px;
    font-size: 25px;
    font-weight: lighter;
    align-items: center;
    width: 90%
}
.content h1{
    color: rgb(3, 84, 3);
    font-family: "Platypi", serif;
    text-align: center;
    margin: 50px;
    padding-right: 80px;
    font-size: 45px;
}
.content .double{
    width: 40%;
    height: 320px;
    border: 1px solid;
    border-radius: 10px;
    align-items: center;
    margin-left: 55px;
    border-style: hidden;
}
.content h2{
    color: rgb(3, 61, 3);
    font-family: "Platypi", serif;
    margin: 50px;
}
.content .full{
    width: 100%;
    border: 1px solid;
    border-radius: 10px;
    align-items: center;
    border-style: hidden;
}

.content li{
    margin-left: 90px;
}
.content .triple{
    width: 30%;
    height: 250px;
    border: 1px solid;
    border-radius: 10px;
    border-style: hidden;
    margin-left: 25px;
    margin-top: 20px;
}
.content .topRight{
    width: 20%;
    vertical-align: middle;
    float: right;
    border: 1px solid;
    border-style: hidden;
    border-radius: 10px;
    margin-right: 90px;
    padding-left: 20px;
}
.content .topLeft{
    width: 30%;
    height: 240px;
    vertical-align: middle;
    float: left;
    border: 1px solid;
    border-style: hidden;
    border-radius: 10px;
    margin: 10px 30px;
}
.content .thin{
    font-weight: lighter;
    font-size: 20px;
    text-align: center;
    margin: 0px;
    margin-left: 50px;
}

footer {
    font-size: 2em;
    width: 100%;
    background-color: rgb(47, 48, 49);
    color: rgb(250, 246, 246);
    text-align: center;
    height: 200px;
}

footer a{
    color: rgb(255, 255, 255);
}
footer p{
   padding-top: 50px;
   color: rgb(255, 251, 251);
   font-size: 25px;
}
footer a:hover {
    text-decoration: underline;
}